.container {
    background: rgb(17, 75, 95);
    text-align: center;
    color: white;
    margin: 0 auto;
    border-radius: 10px;

}

.AddProductPage{
    background-color: #bfd8bd;
}

.label{
    color:white;
}

.mainSection{
    margin: 20px;
}