@media screen and (max-width: 900px) {
    .formbox{
        width:100% !important;
        /* margin: 0 auto 200px auto; */
    }
}

.container {
    /* background: white; */
    /* text-align: center; */
    /* color: white; */
    /* margin: 0 auto; */
    /* border-radius: 10px; */
    /* width: 50%; */

}

.AddProductPage{
    background: lightslategray;
    box-shadow: inset 10px 10px 100px rgba(0, 0, 0, 0.507), inset -10px -10px 100px rgba(0, 0, 0, 0.507);
    min-height: 100vh;
}

/* .label{
    color:white;
} */

.mainSection{
    /* margin: 20px; */
    height: 100%;
    /* margin: 0 auto; */
    padding-bottom: 0;
}

.formbox{
    width: 50%;
    /* margin: 0 auto 200px auto; */
}

.uploadicon{
    align-content: center;
}

.hero {
    box-shadow: 2px 2px 8px  rgba(0, 0, 0, 0.31)
}


