.container {
    /* background: white; */
    text-align: center;
    /* color: white; */
    margin: 0 auto;
    border-radius: 10px;
    /* width: 50%; */

}

.AddProductPage{
    background-color: #969696;
    /* margin: 0 auto; */
}

/* .label{
    color:white;
} */

.mainSection{
    /* margin: 20px; */
    height: 100vh;
    /* margin: 0 auto; */
}

.box{
    width: 50%;
    margin: 0 auto;
}

.uploadicon{
    align-content: center;
}