
.box{
    width: 50%;
    margin: 0 auto 200px auto;
}

.mainSection{
    height: 100%;
}

.container {
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;

}

.SignUpPage{
    background-color: #969696;
}