.SplashPage {
    background: black;
    width: 100vw;
    text-align: center;
    color: white;
    height: 100%;
}

/* code for if we want to have carousel with arrows */
/* -------- */
/* .MainImage{ */
    /* background-image: url(../../assets/images/main1.jpg); */
    /* need to adjust and change the image */
    /* text-align: center; */
/* } */

/* .mainIntro{
    color: white;
} */

/* .body{
    height: 70vh;
} */

/* .zipcodeform{
width: 40%;
margin-top: 30px;
} */

/* .nextarrow{
    width: 100px;
    fill: whitesmoke;
} */


/* the code for bringing the text on video but only worked well with full screen */
/* .splashpagetext{
 position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%); 
color: white;
z-index: 10000;
} */

/* tried to adjust the class title which was for logo , didnt look terrible but needs adjustment */
/* .title{
  position: relative;
  margin: 0;
  padding: 0;
} */

/* tried the two separate divs and hiding one under the vide for phone size but didnt look as good */
/* .splashpagetextUnder{
display: none;
  } */





.SplashSubtitle{
    color: white;
}
/* video {
    width: 100%;
    height: auto;
} */



/* start of fade in animated effect */
/* ============= */

.title.fade-in {
    max-width: 10vw;
    color: white;
}



.fade-in {
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
    -moz-animation: fadeIn ease 1.5s;
    -o-animation: fadeIn ease 1.5s;
    -ms-animation: fadeIn ease 1.5s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity: 1;
  }
}
/* =====end of animated logo affects======== */



/* media for id of video */
/* ---------- */
 /* @media screen and (max-width: 1100px){
#vid{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100vh;
}
}  */




/* ========== code for having text on top of video and it being responsive ============== */
/* @import url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900); */
* {
  box-sizing: border-box;
}


#vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.overlay {
  /* padding-top: 20%; */
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.overlay p {
    background:#000 none repeat scroll 0 0;
    color: white;
    opacity: .5;
    font-weight: 600;
    margin: 2rem 3rem 0;
    mix-blend-mode: overlay;
    padding: 5px 15px;
    text-align: center;
    
}

/* ================== */