@media screen and (max-width: 768px) {
    .card.about {
        padding: 40px;
    }
}
.AboutPage {
   /* background-color: rgb(183, 93, 105); */
    /* margin: 0 auto; */
    background: linear-gradient(rgba(0, 3, 77, 0.194), rgba(16, 0, 193, 0.413)), url(https://images.unsplash.com/photo-1560493676-04071c5f467b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 200px;
}

p.title.about {
    text-align: center;
    color: black;
}
p.subtitle.about {
    color: black;
    /* text-align: center; */
}

.card.about {
    max-height: 100%;
}

.aboutImg {
    padding: 40px;
    
}

.card.about {
    background: linear-gradient(rgba(0, 0, 0, 0.63), lightslategrey)
}

