.AboutPage {
   /* background-color: rgb(183, 93, 105); */
    /* margin: 0 auto; */
    padding: 0 40px;
    background-image: url(https://images.unsplash.com/photo-1560493676-04071c5f467b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

p.title{
    text-align: center;
    color: black;
}
p.subtitle {
    color: black;
    /* text-align: center; */
}

.card {
    height: 550px;
}