.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 80vh;
  width: 80vw;
  background-color: lightblue;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}
.containerMaps {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
}

.mapCards {
  width: 20vw;
  /* background: salmon; */
  overflow: auto;
  height: 80vh;
}

#overflow-fix {
  overflow: auto;
}

.mapResultCard {
  width: 100%;
  height: auto;
}

.mapResultCard li {
  border: 1px solid black;
  background: silver;
}
