.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 80vh;
  width: 80vw;
  background-color: lightblue;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}
.Maps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;

}

.mapCards {
  width: 20vw;
  /* background: salmon; */
  overflow: auto;
  height: 80vh;
}

#overflow-fix {
  overflow: auto;
}

.mapResultCard {
  width: 100%;
  height: auto;
}

.mapResultCard li {
  border: 1px solid black;
  background: gainsboro;
  padding: 8px 8px 8px 8px;
      box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.3), 0 0px 0 1px rgba(10, 10, 10, 0.02), inset 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1);

}

.marker {
  background-image: url('../../assets/images/greenCheck.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

/* .mapPage.section {
  background: lightslategray;
    box-shadow: inset 10px 10px 100px rgba(0, 0, 0, 0.507), inset -10px -10px 100px rgba(0, 0, 0, 0.507);
} */

#searchform {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.3), 0 0px 0 1px rgba(10, 10, 10, 0.02), inset 0 0.5em 1em -0.125em rgba(32, 20, 20, 0.1);

}