.footer{
    position: sticky;
    width: 100%;
    min-height: 50px;
    bottom: 0;
    background-color:hsl(0, 0%, 21%);
    /* background: #264653; */

    padding: 0 1.5rem !important;
    color: white;
    /* margin-top: auto; */
    /* flex-shrink: 0; */
    box-shadow: 2px 2px 8px  rgba(0, 0, 0, 0.31);
    /* opacity: .98; */

}

.footSpan {
    font-size: 1rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
}
/* .copyright{
   text-align: right;
   margin: 10px;
   margin-bottom: 40px;
} */

.footertag{
    text-align: left;
}