@media screen and (max-width: 999px) {
    .react-calendar__tile {
        padding: 4px;
        border: .5px solid black
    }
    #calendarBox  {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (min-width: 1000px) {
    .react-calendar__tile {
        padding: 30px;
        border: .5px solid black
    }
    #calendarBox {
        margin-left: 100px;
        margin-right: 100px;
    }
}

.UserPage {
    background: lightslategray;
    box-shadow: inset 10px 10px 100px rgba(0, 0, 0, 0.507), inset -10px -10px 100px rgba(0, 0, 0, 0.507);
}
.box {
    background: gainsboro;
}

.logobox {
    /* background:white; */
    width: 50%;
    margin: auto;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));

}

button.is-small {
    font-family: inherit;
}

.newuser.title {
    color: #FFFF

}

.delete {
    margin-top: 5px;
}

#bottomSectionUser, #topSectionUser, #productEdit {
    
    padding-bottom: 200px;
}

#orangebox {
    background: orangered;
    color: #FFFF
}

#greenbox {
    background: turquoise;
    color:#FFFF
}

#purplebox {
    background: mediumpurple;
    color: #FFFF
}

.react-calendar__tile {
   
    font-family: inherit;
    font-size: 14px
}
.react-calendar__tile p {
    color: mediumorchid;
    /* padding: 20px */
}

#calendarBox {
   
    margin-bottom: 20px;
}

.userTitle {
    /* box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02); */
    justify-content: center;
}