.UserPage {
    background: lightslategray;
    box-shadow: inset 10px 10px 100px rgba(0, 0, 0, 0.507), inset -10px -10px 100px rgba(0, 0, 0, 0.507);
}
.box {
    background: gainsboro;
}

.logobox {
    /* background:white; */
    width: 50%;
    margin: auto;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));

}

button.is-small {
    font-family: inherit;
}

.newuser.title {
    color: #FFFF

}

#bottomSectionUser {
    padding-bottom: 200px;
}

#orangebox {
    background: orangered;
    color: #FFFF
}

#greenbox {
    background: turquoise;
    color:#FFFF
}

#purplebox {
    background: mediumpurple;
    color: #FFFF
}