.UserPage {
    background: lightslategray;
    box-shadow: inset 10px 10px 100px rgba(0, 0, 0, 0.507), inset -10px -10px 100px rgba(0, 0, 0, 0.507);
}
.box {
    background: gainsboro;
}

.logobox {
    /* background:white; */
    width: 50%;
    margin: auto;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));

}

#bottomSectionUser {
    padding-bottom: 200px;
}