@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

html {
  background: lightslategray;
    box-shadow: inset 10px 10px 100px rgba(0, 0, 0, 0.507), inset -10px -10px 100px rgba(0, 0, 0, 0.507);
  
}

body {
  font-family: 'Asap', sans-serif;
  font-size: 22px;
  text-shadow: .5px .5px .5px rgba(0, 0, 0, 0.1);
}

.hero {
  padding-top: 48px;
  text-align: center;
}

.input {
  font-family: inherit;
}




/* banner color animation */
.color-change-3x {
	-webkit-animation: color-change-3x 100s linear infinite alternate both;
	        animation: color-change-3x 100s linear infinite alternate both;
}

 @-webkit-keyframes color-change-3x {
    0% {
      background: #19dcea;
    }
    50% {
      background: #fbc3bc;
    }
    100% {
      background: #a3b18a;
    }
  }
  @keyframes color-change-3x {
    0% {
      background: #9f9aa4;
    }
    25% {
      background: #f4d58d;
    }
    50% {
      background: #c2dfe3;
    }
    75% {
      background: #a3b18a;
    }
    100% {
      background: #f7d9c4;
    }
  }
  /* --------- */