@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&display=swap');
html {
  background: black;
  
}

body {
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
}

.hero {
  padding-top: 48px;
  text-align: center;
}
